## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.pdfsync

## Build output (optional - remove this line if you want to commit PDFs):
*.pdf

## macOS
.DS_Store
